.collection-preview {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
